.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  
  h1 {
    color: #333333;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #76cceb;
    outline: none;
  }
  
  button.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #76cceb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button.signup-button:hover {
    background-color: #76cceb;
  }
  